.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.container-quote {
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-bottom: 5rem;
}

.container-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content {
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-bold {
    font-weight: bold;
    font-size: 30px;
    margin-top: 1rem;
}

.content-details {
    margin-top: 1rem;
    font-size: 18px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.container-details {
    align-items: flex-start;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    gap: 1.5rem;
}

.content {
    padding: 15px;
}

.content-bold {
    font-weight: bold;
}

.quote {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 1rem;
    margin-top: 20rem;
}

.author{
    font-size: 18px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container-image {
    width: 300px; 
    height: 200px; 
    overflow: hidden; 
    border: 2px solid white;
}

.content-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transition: all 0.3s ease;
    vertical-align: middle;
    justify-items: center;
    align-items: center;
}

.content-container-image:hover .content-image {
    width: 200%;
    height: 200%;
    object-fit: cover;
}

@media only screen and (max-width: 1100px) {
    .container-details {
        flex-direction: column;
    }
    
    .container-quote {
        width: 100%;
    }
    
    .quote {
        font-size: 30px;
    }
}

